@use "../../styles/partials/variables" as *;
// @use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/_global" as *;

.searchbar{
    &__container{
        width: 94.5%;
        margin: auto;
        margin-top: -8px;
        border-radius: 4px;
        @include tablet-and-desktop{
            width: 95%;
            margin-top: -40px;
        }
        @include desktop{
            width: 97%;
            margin-top: -170px;
        }
    }
    // &__background{
    //     // width: 100%;
    // }
    &__label{
        padding-top: 0.2rem;
       color: $text-darkgray;
       font-size: 1rem;
       font-weight: 400;
       margin-bottom: 0.3rem;
       @include tablet-and-desktop{
        font-size: 1.2rem;
        }
    }

    .css-hyum1k-MuiToolbar-root {
        height: 5rem;
        background-color: #f5f5f5;
        border-radius: 5px;
      }


    &__input{
        width: 135%;
        height: 4vh;
        border-radius: 4px;
        border: 1px solid lightgray;
        background-image: url(../../assets/icons/search.svg);
        background-repeat: no-repeat;
        background-position: 7px;
        padding-left: 1.875rem;
        font-size: 0.75rem;
        @include tablet-and-desktop{
            font-size: 0.9rem;
            margin-top: 0.5rem;
            margin-left: 4.5rem;
            height: 5.5vh;
            width: 100%;
        }
        &::placeholder{
            font-size: 0.8rem;
            font-family: "Nexa",sans-serif;
            font-weight: 400;
            padding-left: 0.5rem;
            @include tablet-and-desktop{
                font-size: 1rem;
            }
        }
    }
    &__box{
        padding-top: 0.7rem;
    }
}
.MuiBox-root{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: 10vh;
    // gap: 5px;
    @include tablet-and-desktop{
        padding-left: 3rem;
        flex-direction: row;
        justify-content: unset;
    }
}
.MuiToolbar-root{
    background-color: white;
}