@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/_global" as *;

.favourite__container{
    background-color: white;
    width: 90%;
    margin: auto;
    border-radius: 4px;
    padding: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
}