$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-width: 1195px;
$mobile-header-fontsize: 1rem;
$mobile-subheader-fontsize: 0.9rem;
$mobile-content-fontsize: 0.8rem;
$searchbar-blue: #1976d2;
$text-darkgray: rgb(39, 32, 32);
// $header-font-size: 
$text-shadow: #3d3d3d;