@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/_global" as *;

.profile{
    &__imageholder{
        height: 200px;
        width: 100%;
        background-size: cover;
        background-image: url(../../assets/images/heroimg.png);
    }
    &__title{
        margin-top: -200px;
        font-size: 1.5rem;
        color: white;
        text-align: center;
        padding-top: 2rem;
        padding-bottom:  1rem;
        text-shadow: 1px 1px 1px $text-shadow;
    }
    &__greeting{
        font-size: 1rem;
        color: white;
        text-align: center;
        padding-bottom: 2rem;
        text-shadow: 1px 1px 1px $text-shadow;
    }
    &__favheader{
        color: white;
        text-align: center;
        padding-bottom: 2rem;
        text-shadow: 1px 1px 1px $text-shadow;
    }
    &__favourites{
        width: 90%;
        border-radius: 4px;
        height: 40vh;
        margin: auto;
        background-color: white;
        margin-bottom: 3rem;
        display: block;
    }
    &__logout{
        margin-top: 2rem;
        display: block;
        margin: auto;
        border-radius: 4px;
        border: 1px solid $button-color;
        background-color: $button-color;
        color: white;
        font-size: 1rem;
        width: 8rem;
        height: 2rem;
        margin-bottom: 3rem;
        &:hover{
            border: 1px solid $button-color-hover;
            background-color: $button-color-hover;
        }
    }
}